.header-content{
  z-index:2;
  animation: fadein 2s;

}
.details-content{
  animation: fadein 2s;
  height: 390px;
  width: 60%;
  background: white;
  display: flex;
  align-items: center;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
}
.header-content h1{
  font-size:50px;
  margin-bottom:0;
  align-items: center;
  display: flex;
  flex-direction:column;
}
.header-content h2{
  font-size:30px;
  margin-bottom:0;
  align-items: center;
  display: flex;
  flex-direction:column;
}
.header-content p{
  display: flex;
  flex-direction:column;
  text-align: center;
  padding-top: 20px;
}