.masonry-repo {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
	color: white;
	background: black;
    text-decoration: none;
    margin: 0 auto;
    min-height: 225px;
	transition: transform .2s;

	.Repo-text {
		font-weight: 300;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
        box-sizing: border-box;
    }
	.Repo-title, div {
        float: left;
        width: 100%;
        z-index: 10;
        font-weight: 300;
    }
	.Repo-title {
        font-size: 20px;
        margin-block-start: 0;
        margin-block-end: 10px;
        color: white;
    }

}
.masonry-repo:hover {
	  transform: scale(1.05);
}